#IDE文件
.vs/
.idea/
.vscode/
_ReSharper.CSharp/

#svn
*/.svn/
.svn/

#Excel的临时文件
~$*.xlsx
~$*.xlsx.meta

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

